* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif; }
  * a {
    text-decoration: none;
    color: black; }
  * li {
    list-style-type: none; }

.logo {
  background-image: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat; }

.centerText {
  text-align: center;
  width: 100%; }

.xtraSmlFont, .cartPrice, .cartNumber {
  font-size: 20px; }

.smlFont, .viewOrder {
  font-size: 30px; }

.medFont {
  font-size: 40px; }

.lrgFont {
  font-size: 70px; }

.xLrgFont {
  font-size: 80px; }

.xxLrgFont {
  font-size: 110px; }

.lightGreenText, .cartPrice, .cartNumber {
  color: #A6CD9E; }

.darkGreenText {
  color: #266242; }

.home {
  background-color: #A6CD9E;
  height: 100vh;
  position: relative;
  overflow: hidden; }

.homeMenu {
  position: relative;
  top: 100vh;
  height: 100vh; }

.slider {
  overflow-y: hidden;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }

.slider.closed {
  max-height: 0; }

.container {
  height: 100vh;
  width: 100vw; }

.box {
  width: 90%;
  height: 500px;
  margin: auto;
  margin-left: 5%; }

.absolutebottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 40px; }

.absolutetop {
  position: absolute;
  top: 20vh; }

.menuButton {
  height: 45vh; }

.foodButton {
  background-color: #A6CD9E;
  color: black;
  text-shadow: 8px 8px #266242;
  font-weight: 700; }

.drinksButton {
  background-color: #266242;
  color: #A6CD9E !important;
  text-shadow: 8px 8px black;
  font-weight: 700; }

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.categoryName {
  padding: 20px; }

.item {
  padding: 20px; }

.itemInfo {
  width: 75%;
  float: left; }

.itemPrice {
  width: 25%;
  float: right;
  text-align: right; }

.clear {
  clear: both; }

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #A6CD9E; }

.itemWrapper {
  margin-top: 120px;
  margin-bottom: 90px; }

.fixed {
  position: fixed;
  top: 0; }

.fixedBottom {
  position: fixed;
  bottom: 0; }

.toggleSection {
  display: none;
  height: 100vh; }

.menuItem {
  padding: 10px 0 10px 0; }

.button, .blackButton {
  width: 100vw;
  height: 10vh; }

.blackButton {
  background-color: black; }

.blackButtonText, .viewOrder {
  color: #A6CD9E;
  text-shadow: 3px 3px #266242; }

.cartPrice {
  margin-top: 20px;
  flex: 1;
  display: inline-block; }

.quantity, .cartNumber {
  border: #A6CD9E 1px solid;
  border-radius: 1px; }

.cartNumber {
  text-align: right;
  padding: 5px 10px 5px 10px;
  flex: 1;
  display: inline-block; }

.viewOrder {
  flex: 2;
  text-align: center;
  display: inline-block;
  margin: 0 40px 0 40px; }

.exit {
  margin: 20px 0 0 20px; }

.productName {
  margin: 20px 0 30px 0; }

.productDescription {
  margin-bottom: 20px; }

.productDiet {
  margin-bottom: 20px; }

.productPrice {
  margin-bottom: 20px; }

.anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -114px; }

/*# sourceMappingURL=styles.css.map */
