.centerText{
  text-align: center;
  width: 100%;
}

.cap{
  text-transform: uppercase;
}

.lightGreenText{
  color: $lightGreen;
}
.darkGreenText{
  color: $darkGreen;
}

.greyText{
  color: $grey;
}

.xtraSmlFont{
  font-size: 20px;
}
.smlFont{
  font-size: 30px;
}

.medFont{
  font-size: 40px;
}

.lrgFont{
  font-size: 70px;
}

.xLrgFont{
  font-size: 80px;
}

.xxLrgFont{
  font-size: 110px;
}



@media only screen and (min-width:760px){
  .xtraSmlFont{
    font-size: 25px;
  }
  .smlFont{
    font-size: 40px;
  }

  .xxLrgFont{
    font-size: 190px;
  }
  .productWrapper{
    width: 80%;
    margin: auto;
  }
}

@media only screen and (min-width:1000px){
  .xxLrgFont{
    font-size: 150px;
  }
}
