.centerText{
  text-align: center;
  width: 100%;
}

.xtrasmlFont{
  font-size: 20px;
}
.smlFont{
  font-size: 30px;
}

.medFont{
  font-size: 40px;
}

.lrgFont{
  font-size: 70px;
}

.xtraLrgFont{
  font-size: 80px;
}

.lightGreenText{
  color: $lightGreen;
}

.darkGreenText{
  color: $darkGreen;
}
