@import "reset.scss";
@import "backgroundImages.scss";
@import "variables.scss";
@import "fontStyles.scss";

.background{
  background-color: $lightGreen;
}

.backgroundWhite{
  background-color: white;
}

.home{
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.fillScreen{
  height: 100vh;
  width: 100vw;
}

.box{
  width: 100%;
  height: 500px;
  top: 20vh;
  position: relative;
}

.homeSection1{
  margin: auto;
  width: 90%;
}

.absolutebottom{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
}

.absolutetop{
  position: absolute;
  top: 20vh;
}

.menuButton{
  height: 45vh;
}

.foodButton{
  @include textShadowOne;
  font-weight: 700;
}

.drinksButton{
  background-color: $darkGreen;
  @include textShadowTwo;
  font-weight: 700;
}

.flex{
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.item{
    padding: 20px;
}

.itemInfo{
  width: 70%;
  float: left;
}

.itemPrice{
  width: 20%;
  float: right;
  text-align: right;
}

.clear{
  clear: both;
}

.header{
  position: fixed;
  top: 0;
  width: 100vw;
}

.itemWrapper{
  margin-top: 120px;
}

.fixed{
  position: fixed;
  top: 0;
}

.fixedBottom{
  position: fixed;
  bottom: 0;
}

.toggleSection{
  display: none;
  height: 100vh;
}

.menuItem{
  padding: 10px 0 10px 0;
}

.button{
  width: 100vw;
  height: 10vh;
}

.blackButton{
  @extend .button;
  background-color: black;
}

.blackButtonText{
  @include textShadowThree;
}

.cartPrice{
  @extend .lightGreenText;
  @extend .xtraSmlFont;
  margin-top: 20px;
  flex:1;
  display: inline-block;
}

.quantity{
  border: $lightGreen 1px solid;
  border-radius: 1px;
}

.cartNumber{
  @extend .xtraSmlFont;
  @extend .lightGreenText;
  @extend .quantity;
  text-align: right;
  padding: 5px 10px 5px 10px;
  flex:1;
  display: inline-block;
}

.viewOrder{
  @extend .blackButtonText;
  @extend .smlFont;
  flex: 2;
  text-align: center;
  display: inline-block;
  margin: 0 40px 0 40px;
}

.exit{
  margin: 20px 0px 0px 20px;
}

.productName{
  margin: 30px;
}

.bottomSpace{
  margin-bottom: 20px;
}

.anchor{
  display: block;
  position: relative;
  visibility: hidden;
  top: -114px;
}

.specialIntructions{
  width: 90%;
  resize: none;
  padding: 10px;
}

.specialIntructions:focus{
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0 none;
}

.removeBox{
  text-align: right;
}

.removeButton{
  border: 1px solid $darkGreen;
}

.itemQuantity{
  border: 1px solid black;
}

.outlinePadding{
  padding: 5px 10px 5px 10px;
}

.sticky{
  position: sticky;
  top: 0;
}

.specialIntructions{
    font-size: 18px;
}

.quantityButton{
  width: 60px;
  height: 60px;
}

.quantitySelect{
  width: 80px;
  text-align: center;
  margin: 0;
}

.quantityEdit{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.empty{
  height: 12vh;
}

.emptyTop{
  height: 5vh;
}

// ONLY COMPLETE THIS POP UP IF YOU HAVE TIME
// #go {
//   position: absolute;
//   top: 30px;
//   left: 50%;
//   transform: translate(-50%, 0%);
//   color: white;
//   border: 0;
//   background: #71c341;
//   width: 100px;
//   height: 30px;
//   border-radius: 6px;
//   font-size: 1rem;
//   transition: background 0.2s ease;
//   outline: none;
// }
//
// .message #ok {
//   position: relative;
//   color: white;
//   border: 0;
//   background: #71c341;
//   width: 100%;
//   height: 50px;
//   border-radius: 6px;
//   font-size: 1.2rem;
//   transition: background 0.2s ease;
//   outline: none;
// }
//
// .message {
//   position: absolute;
//   top: -200px;
//   left: 50%;
//   transform: translate(-50%, 0%);
//   width: 300px;
//   background: white;
//   border-radius: 8px;
//   padding: 30px;
//   text-align: center;
//   font-weight: 300;
//   color: #2c2928;
//   opacity: 0;
//   transition: top 0.3s cubic-bezier(0.31, 0.25, 0.5, 1.5), opacity 0.2s ease-in-out;
// }
//
// .comein {
//   top: 150px;
//   opacity: 1;
// }


@media only screen and (min-width:760px){
  .viewOrder{
    margin: 0 100px 0 100px;
  }
  .anchor{
    top: -150px;
  }
  .specialIntructions{
    width: 60%;
  }
}

@media only screen and (min-width:1000px){
  .desktopfillScreen{
    width: 80%;
    margin:auto;
  }
  .homeSection1{
    margin: auto;
    width: 60%;
  }
  .absolutebottom{
    margin-bottom: 20px;
  }

}
