@import "reset.scss";
@import "backgroundImages.scss";
@import "variables.scss";
@import "fontStyles.scss";

.home{
  background-color: $lightGreen;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.homeMenu{
  // position: relative;
  // top: 100vh;
  height: 100vh;
}


.container{
  height: 100vh;
  width: 100vw;
}

.box{
  width: 90%;
  height: 500px;
  margin: auto;
  margin-left: 5%;
}

.absolutebottom{
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
}

.absolutetop{
  position: absolute;
  top: 20vh;
}

.menuButton{
  height: 45vh;
}

.foodButton{
  background-color: $lightGreen;
  @include textShadowOne;
  font-weight: 700;
}

.drinksButton{
  background-color: $darkGreen;
  @include textShadowTwo;
  font-weight: 700;
}

.flex{
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.categoryName{
  padding: 20px;
}

.item{
    padding: 20px;
}

.itemInfo{
  width: 70%;
  float: left;
}

.itemPrice{
  width: 20%;
  float: right;
  text-align: right;
}

.clear{
  clear: both;
}

.header{
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: $lightGreen;
}

.itemWrapper{
  margin-top: 120px;
  margin-bottom: 90px;
}

.fixed{
  position: fixed;
  top: 0;
}

.fixedBottom{
  position: fixed;
  bottom: 0;
}

.toggleSection{
  display: none;
  height: 100vh;
}

.menuItem{
  padding: 10px 0 10px 0;
  // border-top: 1px solid $darkGreen;
}

.button{
  width: 100vw;
  height: 10vh;
}


.blackButton{
  @extend .button;
  background-color: black;
}

.blackButtonText{
  @include textShadowThree;
}

.cartPrice{
  @extend .lightGreenText;
  @extend .xtraSmlFont;
  margin-top: 20px;
  flex:1;
  display: inline-block;
}

.quantity{
  border: $lightGreen 1px solid;
  border-radius: 1px;
}

.cartNumber{
  @extend .xtraSmlFont;
  @extend .lightGreenText;
  @extend .quantity;
  text-align: right;
  padding: 5px 10px 5px 10px;
  flex:1;
  display: inline-block;
}

.viewOrder{
  @extend .blackButtonText;
  @extend .smlFont;
  flex: 2;
  text-align: center;
  display: inline-block;
  margin: 0 40px 0 40px;
}

.exit{
  margin: 20px 0 0 20px;
}

.productName{
  margin: 20px 0 30px 0;
}

.productDescription{
  margin-bottom: 20px;
}

.productDiet{
  margin-bottom: 20px;
}

.productPrice{
  margin-bottom: 20px;
}

.anchor{
  display: block;
  position: relative;
  visibility: hidden;
  top: -114px;
}

.specialIntructions{
  width: 90%;
  border: 1px grey solid;
  resize: none;
  padding: 10px;
}
.specialIntructions:focus{
  border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

.removeBox{
  text-align: right;
}
.removeButton{
  border: 1px solid $darkGreen;
  background-color: white;
  padding: 5px 10px 5px 10px;
}

.itemQuantity{
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
  margin-right: 10%;
}

.sticky{
  position: sticky;
  top: 0;
  background-color: white;
}

.orderTotal{
  margin-bottom: 70px;
}



@media only screen and (min-width:760px){
  .viewOrder{
    margin: 0 100px 0 100px;
  }
  .anchor{
    top: -110px;
  }

}

@media only screen and (min-width:1000px){
  .desktopContainer{
    width: 80%;
    margin:auto;
  }
  .anchor{
    // top: -150px;
  }
}
