@import "reset.scss";
@import "backgroundImages.scss";
@import "variables.scss";
@import "fontStyles.scss";

.home{
  background-color: $lightGreen;
}

.container{
  height: 100vh;
  width: 100vw;
}

.box{
  width: 90%;
  height: 500px;
  margin: auto;
  margin-left: 5%;
}

.absolutebottom{
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
}

.absolutetop{
  position: absolute;
  top: 20vh;
}

.menuButton{
  height: 50vh;
}

.foodButton{
  background-color: $lightGreen;
  @include textShadowOne;
}

.drinksButton{
  background-color: $darkGreen;
  @include textShadowTwo;
}
.flex{
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.categoryName{
  padding: 20px;
}

.item{
    padding: 20px;
}

.itemInfo{
  width: 75%;
  float: left;
}

.itemDiet{
  width: 25%;
  float: right;
  text-align: right;
}

.clear{
  clear: both;
}

.header{
  position: fixed;
  width: 100vw;
  background-color: $lightGreen;
}

.itemWrapper{
  padding-top: 120px;
  padding-bottom: 90px;
}

.fixed{
  position: fixed;
  top: 0;
}
.fixedBottom{
  position: fixed;
  bottom: 0;
}

.toggleSection{
  display: none;
  height: 100vh;
}

.menuItem{
  padding: 10px 0 10px 0;
  // border-top: 1px solid $darkGreen;
}

.blackButton{
  width: 100vw;
  background-color: black;
  padding: 20px;
}
.blackButtonText{
  @include textShadowThree;
}
