$lightGreen: #A6CD9E;
$darkGreen: #266242;
$grey: #808080;
@mixin textShadowOne {
  color: black;
  text-shadow: 8px 8px $darkGreen;
}
@mixin textShadowTwo {
  color: $lightGreen !important;
  text-shadow: 8px 8px black;
}
@mixin textShadowThree {
  color: $lightGreen;
  text-shadow: 3px 3px $darkGreen;
}
